<html>
  <head></head>
  <script>
    function fetchCurrentSlide() {
      fetch('/deck/hoppa123/slide/current')
        .then(function(response) {
          return response.json()
        }).then(function(json) {
          if (json.current) {
            console.log('parsed json', json);
            var slideEl = document.querySelector('[data-image="slide"]');
            slideEl.setAttribute('src', json.current);
          }
        }).catch(function(ex) {
          console.log('parsing failed', ex)
        })
    }

    setInterval(fetchCurrentSlide, 1000);
  </script>
  <body style="margin:0;">
    <img src="" data-image="slide" width="100%">
  </body>
</html>