<div class="container">
    <div class="leader">
        <h1 class="title">Bite Sized Chunks</h1>
        <h2 class="intro">Validating loads of ideas to find out what could be made into a sustainable business.</h2>
    </div>
    <div class="row">
        <div class="two columns"></div>
        <div class="ten columns"></div>
    </div>
</div>
